/*=============== BUTTON ===============*/
.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    color: #fff;
    font-weight: var(--font-medium);
    transition: background .3s;

    & i{
        font-size: 1.5rem;
        transition: transform .3s;
    }

    &:hover{
        background-color: var(--first-color-alt);
    }
    &:hover i{
        transform: translateX(.25rem);
    }
}