/*=============== RECENTLY ===============*/
.recently{
    position: relative;

    &__container{
        row-gap: 4rem;
    }
    &__data{
        position: relative;
        text-align: center;
    }
    &__description{
        margin-bottom: 2rem;
    }
    &__data-img{
        width: 25px;
        position: absolute;
        top: 3.5rem;
        right: 1.5rem;
        transform: rotate(30deg);
    }
    &__img{
        width: 300px;
        justify-self: center;
    }
    &__leaf-1,
    &__leaf-2{
        position: absolute;
        opacity: .2;
    }
    &__leaf-1{
        width: 80px;
        top: 17rem;
        left: -1rem;
        transform: rotate(15deg);
    }
    &__leaf-2{
        width: 40px;
        right: -1rem;
        bottom: 12rem;
        transform: rotate(-30deg);
    }
}