/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;

    &__title{
        font-size: var(--h1-font-size);
        font-family: var(--title-font);
        margin-bottom: 1.5rem;
    }
    &__subtitle{
        display: block;
        font-size: var(--h2-font-size);
        font-family: var(--subtitle-font);
        color: var(--first-color);
        margin-bottom: .5rem;
    }
    &__title,
    &__subtitle{
        text-align: center;
    }
}

.main{
    overflow: hidden; /* For animation ScrollReveal */
}